<mat-toolbar color="primary">
    <span>
        <a routerLink="/sell-prop-list">ZID Nekretnine</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="agentIsAuthenticated">
            <a mat-button routerLink="/sell-prop-list" routerLinkActive='active-link'>Prodaja</a>
        </li>
         <li *ngIf="agentIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive='active-link'>Iznajmljivanje</a>
        </li>
         <li *ngIf="agentIsAuthenticated">
            <a mat-button routerLink="/sell-prop-create" routerLinkActive='active-link'>Dodaj za prodaju</a>
        </li>
         <li *ngIf="agentIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive='active-link'>Dodaj za iznajmljivanje</a>
        </li>
        <li *ngIf="!agentIsAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive='active-link'>Prijavi se</a>
        </li>
        <li *ngIf="!agentIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive='active-link'>Registruj se</a>
        </li>

        <li *ngIf="agentIsAuthenticated">
            <button mat-button (click)="onLogout()">Odjavi se</button>
        </li>
    </ul>
</mat-toolbar>