

<mat-accordion multi="true" *ngIf="sellProps.length > 0">
    <mat-expansion-panel *ngFor="let prop of sellProps">
        <mat-expansion-panel-header>
            Prodaja: {{ prop.tip}} - {{prop.povrsina*prop.cenaKvadrata}}
        </mat-expansion-panel-header>
        <p>Povrsina: {{ prop.povrsina }}</p>
        <p>Struktura: {{ prop.struktura }}</p>
        <p>Sprat: {{ prop.sprat }}</p>
        <p>Broj spavacih soba: {{ prop.brojSpavacihSoba }}</p>
        <mat-action-row>

            <button mat-fab extended color="primary">
                <mat-icon>edit</mat-icon>
                Edit
            </button>

            <button mat-fab extended color="warn">
                <mat-icon>delete</mat-icon>
                Delete
            </button>

        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="sellProps.length <= 0">No properties added yet!</p>