<div class="landing-page">
    <!-- Hero Section -->
    <section class="hero-section">
      <div class="hero-content">
        <h1>Dobrodošli</h1>
        <p>Najbolje mesto za pronalazak vašeg novog doma.</p>
        <button mat-raised-button color="primary" routerLink="/oglasi-za-prodaju" style="margin-right: 1rem;">{{levoDugme}}</button>
        <button mat-raised-button color="primary" routerLink="/oglasi-za-prodaju" style="margin-left: 1rem;">Iznajmi</button>
      </div>
  
      <!-- Features Section -->
      <div class="features-wrapper">
        <h2>Zašto odabrati nas?</h2>
        <div class="features-container">
          <div class="feature-item">
            <mat-icon class="feature-icon">home</mat-icon>
            <h3>Širok izbor nekretnina</h3>
            <p>Nudimo širok izbor stanova, kuća i poslovnih prostora za svaki ukus i budžet.</p>
          </div>
          <div class="feature-item">
            <mat-icon class="feature-icon">verified</mat-icon>
            <h3>Provereni oglasi</h3>
            <p>Svi naši oglasi su verifikovani kako bismo osigurali sigurnost i transparentnost.</p>
          </div>
          <div class="feature-item">
            <mat-icon class="feature-icon">support_agent</mat-icon>
            <h3>Profesionalna podrška</h3>
            <p>Naš tim vam stoji na raspolaganju za sve informacije i pomoć pri kupovini ili prodaji.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  